# Auto detect text files and perform LF normalization
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text
*.h text
# Declare files that will always have LF line endings on checkout.
*.sln text eol=lf